$color_card-bg: #f6f5f9;
$color_main: #2d1686;
$color_main-tone: #4e33b5;
$color_orange: #e34208;
$color_orange-tone: #f25b24;

$color_heading: #2e2d35;
$color_text: #474351;
$color_white: #ffffff;

$gradient_main: linear-gradient(90deg, $color_main, $color_main-tone);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: $color_text;
    font-family: 'Segoe UI', sans-serif;
    font-size: 16px;
    font-weight: 400;
    position: relative;
}

img {
    display: block;
}

a {
    color: inherit;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease;
}

.button {
    width: 100%;
    max-width: 256px;
    background-color: $color_orange-tone;
    color: $color_white;
    font-family: 'Whitney', sans-serif;
    font-weight: 500;
    font-size: 18px;
    padding: 13px 26px;
    border: none;
    border-radius: 4px;
    outline: none;
    text-align: center;
    position: relative;
}

.button:hover,
.button:active {
    background-color: $color_orange;
}

h1,
h2,
h3 {
    color: $color_heading;
    font-family: 'Whitney', sans-serif;
    font-weight: 600;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 34px;
}

h4 {
    color: $color_heading;
    font-family: 'Segoe UI', sans-serif;
    font-weight: 600;
    font-size: 22px;
}

.subtitle {
    font-family: 'Whitney', sans-serif;
    font-weight: 500;
    font-size: 24px;
}

.text-white {
    color: $color_white;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
}

/* HEADER */
.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 33px;
}

.nav__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 280px;
    margin-left: 25%;
}

.nav__link {
    color: $color_white;
    padding: 4px 12px;
    font-family: 'Whitney', sans-serif;
    font-weight: 400;
    font-size: 18px;
    white-space: nowrap;
}

.nav__link:hover {
    text-decoration: underline;
}

.nav__link--login {
    position: relative;
}

.nav__link--login::before {
    content: url("../images/icon_account.svg");
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    left: -24px;
    transform: translateY(-50%);
}

/* INNER */
.inner {
    background: $gradient_main;
    width: 100%;
    padding-top: 198px;
    padding-bottom: 180px;
}

.inner__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.inner__image {
    position: absolute;
    top: -43px;
    right: 5px;
    z-index: 0;
}

.inner__info {
    max-width: 512px;
    position: relative;
    z-index: 1;

    h1 {
        color: $color_white;
    }

    .subtitle {
        position: relative;
        color: $color_white;
        max-width: 480px;
        margin-top: 30px;
        margin-bottom: 60px;
    }
}

/* ADVANTAGES */
.advantages {
    padding-top: 130px;
}

.advantages__wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    position: relative;
    margin-top: 35px;
    margin-left: -15px;
    margin-right: -15px;
}

.advantages__item {
    flex-basis: 400px;
    flex-grow: 1;
    max-width: 640px;
    height: 100%;
    background-color: $color_card-bg;
    border-radius: 6px;
    padding: 21px 10px;
    margin: 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.advantages__image {
    order: 1;
}

.advantages__info {
    margin: 22px 30px;
    margin-right: 0;
    max-width: 292px;

    p {
        margin-top: 22px;
    }
}

/* REGISTRATION */
.registration {
    padding-top: 130px;
    padding-bottom: 185px;
}

.registration__item {
    background: $gradient_main;
    border-radius: 10px;
    padding: 70px;
    padding-right: 0;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.registration__image {
    position: absolute;
    top: 19px;
    right: 0;
    z-index: 0;
}

.registration__info {
    position: relative;
    z-index: 1;
    max-width: 640px;
    padding-right: 80px;

    h3 {
        color: $color_white;
        margin-bottom: 46px;
    }
}

/* MODAL */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 15px;
}

.modal {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__item {
    width: 100%;
    max-width: 490px;
    padding: 60px;
    padding-bottom: 55px;
    background-color: $color_white;
    border-radius: 6px;
    box-shadow: 0 10px 60px rgba(0, 0, 0, 0.25);
    position: relative;

    h2 {
        text-align: center;
    }

    .close-button {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 42px;
        height: 42px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.modal__form {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    font-family: 'Whitney', sans-serif;
    margin-top: 35px;

    label {
        font-size: 18px;
        font-weight: 500;
    }

    input {
        width: 100%;
        border: 1px solid #dddae7;
        border-radius: 4px;
        padding: 17px 12px;
        margin-top: 10px;
        margin-bottom: 18px;
        font-weight: 400;
    }

    .button--enter {
        cursor: pointer;
        max-width: 100%;
        margin-top: 16px;
        margin-bottom: 0;
    }
}


@media only screen and (max-width: 1200px) {
    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 28px;
    }

    h4 {
        font-size: 18px;
    }

    .subtitle {
        font-size: 22px;
    }

    /* INNER */
    .inner {
        padding-top: 180px;
        padding-bottom: 120px;
    }

    .inner__image {
        position: static;
        top: 0;
        right: 0;
        order: 1;
        width: 50%;
        height: auto;
    }

    .inner__info {
        width: 50%;
    }

    /* ADVANTAGES */
    .advantages {
        padding-top: 120px;
    }

    /* REGISTRATION */
    .registration {
        padding-top: 120px;
        padding-bottom: 180px;
    }
}

@media only screen and (max-width: 992px) {

    /* INNER */
    .inner {
        padding-top: 120px;
        padding-bottom: 60px;
    }

    .inner__item {
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }

    .inner__image {
        order: 0;
        width: 100%;
        max-width: 640px;
    }

    .inner__info {
        width: 100%;
        max-width: 100%;
    }

    /* ADVANTAGES */
    .advantages {
        padding-top: 60px;
    }

    /* REGISTRATION */
    .registration {
        padding-top: 60px;
    }
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 24px;
    }

    /* REGISTRATION */
    .registration {
        padding-top: 60px;
    }

    .registration__item {
        padding: 50px;
        padding-right: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }

    .registration__image {
        position: static;
        top: 0;
        right: 0;
        order: 0;
        width: 100%;
        height: auto;
    }

    .registration__info {
        width: 100%;
        padding-right: 50px;

        h3 {
            margin-bottom: 30px;
        }
    }
}

@media only screen and (max-width: 576px) {

    /* HEADER */
    .header__nav {
        padding-top: 24px;
    }

    .nav__list {
        justify-content: flex-start;
        align-items: flex-end;
        flex-direction: column-reverse;
        margin-left: 5%;
    }

    .nav__link {
        color: $color_white;
        padding: 4px 12px;
        font-family: 'Whitney', sans-serif;
        font-weight: 400;
        font-size: 18px;
        white-space: nowrap;
    }

    /* ADVANTAGES */
    .advantages__item {
        padding: 20px 30px 30px;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }

    .advantages__image {
        order: 0;
        width: 100%;
        max-width: 200px;
    }

    .advantages__info {
        align-self: flex-start;
        margin: 0;
        margin-top: 20px;
        max-width: 100%;

        p {
            margin-top: 15px;
        }
    }

    /* REGISTRATION */
    .registration__item {
        padding: 30px;
        padding-right: 0;
    }

    .registration__info {
        padding-right: 30px;
    }
}